Checks:          'clang-diagnostic-*,clang-analyzer-*,clang-diagnostic-*,clang-analyzer-*,-*,bugprone*,modernize*,performance*,-modernize-pass-by-value,-modernize-use-auto,-modernize-use-using,cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,google-*,misc-*,performance-*,readability-*'
